<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Group Chat</title>
    <style>
      *{margin:0;padding:0;box-sizing:border-box}body{font:13px;font-family:'Noto Sans KR',sans-serif}form{background:#fff;padding:3px;position:fixed;bottom:0;width:100%;border-color:#000;border-top-style:solid;border-top-width:1px}form input{border-style:solid;border-width:1px;padding:10px;width:85%;margin-right:.5%;border-radius:4px}form button{width:14%;background:#db0cf3;border:none;padding:10px;border-radius:4px}#chat_messages{list-style-type:none;margin:0;padding:0}#chat_messages li{padding:5px 10px}
    </style>
  </head>
  <body>
    <ul id="chat_messages"></ul>
    <form action="/" method="POST" id="chat_form">
      <input id="insert_chat_message" autocomplete="off" autofocus="on" placeholder="메세지 보내기" /><button>채팅</button>
    </form>
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../../socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost:3000');

    var userName = prompt('당신이 채팅방에 참여할 이름을 입력해주세요.');
    socket.emit('userName', userName);
    
    $('#chat_form').submit(function (e) {
        e.preventDefault();
        socket.emit('chatMessage', $('#insert_chat_message').val());
        $('#insert_chat_message').val('');
        return false;
    });

    socket.on('chatNotification', function (userName) {
      $('#chat_messages').append($('<li>').html(userName));
    });

    socket.on('chatMessage', function (message) {
      $('#chat_messages').append($('<li>').html(message));
    });
</script>
</html>