<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unplace</title>
    <link href="stylesheets/unplace_main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <nav id="navi">
            <div class="page-icon">
<<<<<<< HEAD
                <img src="image_files/로고.PNG" height="50px" alt="">
=======
                <img src="public/images/image_files/로고.PNG" height="50px" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
            </div>
            <ul class="main-nav">
                <li><a href="">학교 축제</a></li>
                <li><a href="" target="blank">동아리 축제</a></li>
                <li><a href="">관람</a></li>
                <li><a href="">공지사항</a></li>
                <li><a href="">가격안내</a></li>
            </ul>


            <ul class="login-signup">
                <li><a href="">로그인</a></li>
                <li><a>|</a></li>
                <li><a href="">회원 가입</a></li>
                <li class="new-festival-back">
                    <a class="new-festival" href="">축제 개최하기</a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="floating-btn">
        <div class="btn">
<<<<<<< HEAD
            <img src="image_files/검색.png" height="50px" alt="">
=======
            <img src="public/images/image_filesimage_files/검색.png" height="50px" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
        </div>
    </section>

    <div id="container">

        <section id="univ-main">
            <div>
                <ul class="univ-name">
<<<<<<< HEAD
                    <li><img src="image_files/고려대로고.png" height="40px" alt=""></li>
=======
                    <li><img src="public/images/image_files/고려대로고.png" height="40px" alt=""></li>
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                    <li><a style="font-size: 1.5em;">고려 대학교</a></li>
                    <li><area>D - 0</area></li>
                </ul>
            </div>

            <div class="red-slogan">
                <div class="slogan">
                    <pre>
"너로, 비로소 열리는
                    우리들의 축제"
                    </pre>
                </div>

                <ul class="univ-fest-info">
                    <li><a>기간 : 10/12 ~ 15까지</a></li>
                    <li><a>시간 : 10시~ 24시까지</a></li>
                </ul>
            </div>
        </section>


        <section id="ranking">
            <h3>인기 순위</h3>

            <div class="ranks">
                <div class="rank-one">
                    <ul>
<<<<<<< HEAD
                        <li> <img src="image_files/게임.png" alt=""> </li>
=======
                        <li> <img src="public/images/image_files/게임.png" alt=""> </li>
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                        <li> <a>게임</a></li>
                    </ul>
                </div>
                <div class="rank-one">
                    <ul>
<<<<<<< HEAD
                        <li> <img src="image_files/공연.png" alt=""> </li>
=======
                        <li> <img src="public/images/image_files/공연.png" alt=""> </li>
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                        <li> <a>공연</a></li>
                    </ul>
                </div>
                <div class="rank-one">
                    <ul>
<<<<<<< HEAD
                        <li> <img src="image_files/전시.png" alt=""> </li>
=======
                        <li> <img src="public/images/image_files/전시.png" alt=""> </li>
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                        <li> <a>전시</a></li>
                    </ul>
                </div>
                <div class="rank-one">
                    <ul>
<<<<<<< HEAD
                        <li> <img src="image_files/코스프레.png" alt=""> </li>
=======
                        <li> <img src="public/images/image_files/코스프레.png" alt=""> </li>
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                        <li> <a>코스프레</a></li>
                    </ul>
                </div>
                <div class="rank-one">
                    <ul>
<<<<<<< HEAD
                        <li> <img src="image_files/판매.png" alt=""> </li>
=======
                        <li> <img src="public/images/image_files/판매.png" alt=""> </li>
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                        <li> <a>판매</a></li>
                    </ul>
                </div>
            </div>

        </section>

        <section id="youtube">

            <div class="youtube-stream">
                <!--mute=1Chrome에서 자동 재생하려면 소리를 소거해야함(src 맨뒤에 &mute=1 추가) -->
                <!--익스플로러는 이 코드 써도 자동 재생됨-->
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/<비디오id>?autoplay=1&mute=1"
                    frameborder="0"
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                    allowfullscreen></iframe>
            </div>

            <div class="youtube-chatting">
                <!--chatting-->
                <!--https://www.youtube.com/live_chat?v=<your video ID>&embed_domain=<your blog domain>-->
                <iframe class="chat" width="100%" height="400"
                    src="https://www.youtube.com/live_chat?v=MPKVuFGx4kU&embed_domain=file:///C:/Users/chaj9/Desktop/고카톤/code/main.html"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
        </section>

        <section id=timetable-event>
            <div class="tt-ev">
                <div class=timetable>
                    <ul>
                        <li>
                            <h3>시간표</h3>
                        </li>
                        <li><a style="margin: 0px 8px; color: #535353;">|</a></li>
                        <li>
                            <h4>공연</h4>
                        </li>
                        <li>
                            <h4>게임</h4>
                        </li>
                        <li>
                            <h4>판매</h4>
                        </li>
                    </ul>

                    <div class=content>
                        <!-- 시간표 ... -->
                        <table class=table>
                            <!-- <caption>▶ 강의 시간표 ◀</caption> -->
                            <col style="width : 12%">
                            <col style="width : 22%">
                            <col style="width : 22%">
                            <col style="width : 22%">
                            <col style="width : 22%">

                            <tr class="line1">
                                <th class="th-left"></th>
                                <th>1 / 13</th>
                                <th>1 / 14</th>
                                <th>1 / 15</th>
                                <th>1 / 16</th>
                            </tr>
                            <tr>
                                <th class="th-left">9</th>
                                <td></td>
                                <!-- <td rowspan="2" style="background-color: #ecc369">Practsh A2</td>
                                <td rowspan="2" style="background-color: #f08676">해부생리학2</td>
                                <td rowspan="2" style="background-color: #70a5e9">Practih A4</td> -->
                            </tr>
                            <tr>
                                <th class="th-left">10</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="th-left">11</th>
                                <td style="background-color: #7d1626;">해부생리학2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="th-left">12</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="th-left">1</th>
                                <td></td>
                                <td rowspan="2" style="background-color: #7d1626">삶과 철학</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="th-left">2</th>
                                <td></td>
                                <td rowspan="2" style="background-color: #7d1626">인간행동과심리</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th class="th-left">3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class=event>
                    <ul>
                        <li>
                            <h3>이벤트</h3>
                        </li>
                        <li><a style="margin: 0px 8px; color: #535353;">|</a></li>
                        <li>
                            <h4>학교</h4>
                        </li>
                        <li>
                            <h4>UNPLACE</h4>
                        </li>
                    </ul>
                    <div class=event-content>
                        <!-- 이벤트 ... -->

                    </div>
                </div>
            </div>
        </section>

        <section id=go-Festv>
            <div class=go-Festv-back>
                <div class=to-Festv-info>
                    <p style="color:yellow; font-size: 18px;">고려대축제 즐겨봅시다!</p>
                    <p style="color:white; font-size: 14px; line-height: 0.6;"> 가장 화려하고 신나는 곳으로 갑시다~! </p>
                    <div class=go-festv-btn>
                        <p>바로 보기</p>
                    </div>
                </div>
            </div>

            <!-- <div class=festv-deco-img>
<<<<<<< HEAD
                <img src="image_files/불꽃.png" height="140px" alt="">
=======
                <img src="public/images/image_files/불꽃.png" height="140px" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
            </div> -->
        </section>



        <section id="review">
            <h3>고려대축제 후기</h3>

            <div class="reviews">
                <div class="review-one">
                    <ul>
                        <li>
                            <div class="image-back">
                                <div class="img-wrap">
<<<<<<< HEAD
                                    <img src="image_files/게임2.png" alt="">
=======
                                    <img src="public/images/image_files/게임2.png" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>게임</p>
                        </li>
                        <li> <a>인터넷으로 하는 마피아게임이 이렇게 재미있을 줄 몰랐어요! 다음에는 꼭 우승을해서 상품을 타가겠습니다!</a></li>
                    </ul>
                </div>
                <div class="review-one">
                    <ul>
                        <li>
                            <div class="image-back">
                                <div class="img-wrap">
<<<<<<< HEAD
                                    <img src="image_files/코스프레2.png" alt="">
=======
                                    <img src="public/images/image_files/코스프레2.png" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>코스프레</p>
                        </li>
                        <li> <a>코스프레 사진들 구경 잘했습니다! 다음엔 저도 참여하고 싶네요!ㅎㅎ</a></li>
                    </ul>
                </div>
                <div class="review-one">
                    <ul>
                        <li>
                            <div class="image-back">
                                <div class="img-wrap">
<<<<<<< HEAD
                                    <img src="image_files/코스프레2.png" alt="">
=======
                                    <img src="public/images/image_files/코스프레2.png" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>코스프레</p>
                        </li>
                        <li> <a>코스프레 퀄리티가 높아서 놀랐어요..! 다음엔 저도 참여해보고 싶네요ㅎㅎ</a></li>
                    </ul>
                </div>
                <div class="review-one">
                    <ul>
                        <li>
                            <div class="image-back">
                                <div class="img-wrap">
<<<<<<< HEAD
                                    <img src="image_files/전시2.png" alt="">
=======
                                    <img src="public/images/image_files/전시2.png" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>전시</p>
                        </li>
                        <li> <a>손재주가 좋으신 분들이 정말 많으시군요~ 하나하나 제작하시느라 오래 걸리셨을 것 같아요</a></li>
                    </ul>
                </div>
                <div class="review-one">
                    <ul>
                        <li>
                            <div class="image-back">
                                <div class="img-wrap">
<<<<<<< HEAD
                                    <img src="image_files/게임2.png" alt="">
=======
                                    <img src="public/images/image_files/게임2.png" alt="">
>>>>>>> d5ff36ab51a1742a4189a53df3b119126958fcac
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>게임</p>
                        </li>
                        <li> <a>우승 ㄱㅇㄷ</a></li>

                    </ul>
                </div>
            </div>


        </section>



    </div>
</body>

<footer>
    <p>Unplace - Korea Univ.</p>
</footer>

</html>