<link href="stylesheets/unplace_main.css" rel="stylesheet" type="text/css">
<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unplace</title>
    <link href="stylesheets/unplace_main.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div id="container">
        
        <section id="univ-main">
            <div>
                <ul class ="univ-name">
                    <li><img src="image_files/바보개.jpg" height= "40px" alt=""></li>
                    <li><a style="font-size: 1.5em;">고려 대학교</a></li>
                    <li><a>D - 0</a></li>
                </ul>
            </div>

            <div class = "red-slogan">
                <div class = "slogan">
                    <pre>
"너로, 비로소 열리는
                    우리들의 축제"
                    </pre>
                </div>
                
                <ul class ="univ-fest-info">
                    <li><a>기간 : 10/12 ~ 15까지</a></li>
                    <li><a>시간 : 10시~ 24시까지</a></li>
                </ul>
            </div>
        </section>


        <section id = "ranking">
            <h3>인기 순위</h3>

            <div class = "ranks">
                <div class = "rank-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>게임</a></li>                    
                    </ul>
                </div>
                <div class = "rank-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>전시</a></li>                    
                    </ul>
                </div>
                <div class = "rank-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>공연</a></li>                    
                    </ul>
                </div>
                <div class = "rank-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>판매</a></li>                    
                    </ul>
                </div>
                <div class = "rank-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>코스프레</a></li>                    
                    </ul>
                </div>
            </div>

        </section>

        <section id = timetable-event>
            <div class = "tt-ev">
                <div class = timetable>
                    <h3>시간표</h3>
                    <div class = content>
                        <!-- 시간표 ... -->
                    </div>
                </div>

                <div class = event>
                    <h3>이벤트</h3>
                    <div class = content>
                        <!-- 이벤트 ... -->
                    </div>                </div>
            </div>
        </section>

        <section id = go-Festv>
                <div class = to-Festv-info>
                    <p style="color:yellow; font-size: 18px;" >고려대축제 즐겨봅시다!</p>
                    <p style="color:white; font-size: 14px; line-height: 0.6;" > 가장 화려하고 신나는 곳으로 갑시다~! </p>
                    <div class = go-festv-btn>
                        <p>바로 보기</p>
                    </div>
                </div>
                <div class = festv-deco-img>
                    <img src="image_files/바보개.jpg" height= "100px" alt="">
                </div>
        </section>



        <section id = "review">
            <h3>고려대축제 후기</h3>

            <div class = "reviews">
                <div class = "review-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>참가자 : 배수빈</a></li>       
                        <li> <a>너무너무너무 재미있어요옹옹옹옹옹홓오옹홓옿홍홍호옿옿옿ㅇ호홓ㅎㅎ홓ㅎ홓호홓</a></li>                                 
                    </ul>
                </div>
                <div class = "review-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>참가자 : 배수빈</a></li>       
                        <li> <a>너무너무너무 재미있어요옹옹옹옹옹홓오옹홓옿홍홍호옿옿옿ㅇ호홓ㅎㅎ홓ㅎ홓호홓</a></li>                                 
                    </ul>
                </div>
                <div class = "review-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>참가자 : 배수빈</a></li>       
                        <li> <a>너무너무너무 재미있어요옹옹옹옹옹홓오옹홓옿홍홍호옿옿옿ㅇ호홓ㅎㅎ홓ㅎ홓호홓</a></li>                                 
                    </ul>
                </div>
                <div class = "review-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>참가자 : 배수빈</a></li>       
                        <li> <a>너무너무너무 재미있어요옹옹옹옹옹홓오옹홓옿홍홍호옿옿옿ㅇ호홓ㅎㅎ홓ㅎ홓호홓</a></li>                                                                    
                    </ul>
                </div>
                <div class = "review-one">
                    <ul>
                        <li> <img src="image_files/바보개.jpg" height= "40px" alt=""> </li>
                        <li> <a>참가자 : 배수빈</a></li>       
                        <li> <a>너무너무너무 재미있어요옹옹옹옹옹홓오옹홓옿홍홍호옿옿옿ㅇ호홓ㅎㅎ홓ㅎ홓호홓</a></li>                                 
                    
                    </ul>
                </div>
            </div>

        </section>

    </div>
</body>

<footer>
    <p>Unplace - Korea Univ.</p>
</footer>

</html>