<!DOCTYPE HTML>

<html>
<head>
	<title>Unplace, 언택트 시대에서 축제를 즐기다!</title>
	<link href="stylesheets/unplacePlatform.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
	
<body>
	<!-- header -->
    <header>
        <nav id="navi">
            <div class="page-icon">
                <img src="image_files/juhee_images/logo.PNG" height="50px" alt="">
            </div>
            <ul class="main-nav">
                <li><a href="" class="hov">학교 축제</a></li>
                <li><a href="" class="hov">동아리 축제</a></li>
                <li><a href="" class="hov">관람</a></li>
                <li><a href="" class="hov">공지사항</a></li>
                <li><a href="" class="hov">가격안내</a></li>
            </ul>
            <ul class="login-signup">
                <li><a href="" class="hov">로그인</a></li>
                <li><a>|</a></li>
                <li><a href="" class="hov">회원 가입</a></li>
                <li class="new-festival-back">
                    <a class="new-festival" href="">축제 개최하기</a>
                </li>
            </ul>
        </nav>
    </header>

	<!-- advertisements -->
	<section id="advertisements">
		<div id="advertisement_container" style="background-image:url('image_files/juhee_images/englishDeptMT.png')">
			<a href='/mainui/'><img src="image_files/juhee_images/goToEvent.png" id="startButton"></a>
		</div>
	</section>

	<br>
	
	<!-- category icons -->
	<section id="category_icons">
		<table id="category_icons_container">
			<tr>
				<td width="20%"><img src="image_files/juhee_images/grayGame.png" width="100%" 
				onmouseover="this.src='image_files/juhee_images/1Game.png'" 
				onmouseout="this.src='image_files/juhee_images/grayGame.png'"><td>
				<td width="20%"><img src="image_files/juhee_images/grayCosplay.png" width="100%" 
				onmouseover="this.src='image_files/juhee_images/1Cosplay.png'" 
				onmouseout="this.src='image_files/juhee_images/grayCosplay.png'"><td>
				<td width="20%"><img src="image_files/juhee_images/grayMuseum.png" width="100%" 
				onmouseover="this.src='image_files/juhee_images/1Museum.png'" 
				onmouseout="this.src='image_files/juhee_images/grayMuseum.png'"><td>
				<td width="20%"><img src="image_files/juhee_images/grayPlay.png" width="100%" 
				onmouseover="this.src='image_files/juhee_images/1Play.png'" 
				onmouseout="this.src='image_files/juhee_images/grayPlay.png'"><td>
				<td width="20%"><img src="image_files/juhee_images/grayShopping.png" width="100%" 
				onmouseover="this.src='image_files/juhee_images/1Shopping.png'" 
				onmouseout="this.src='image_files/juhee_images/grayShopping.png'"><td>
			</tr>
		</table>
	</section>
	
	<br>
	
	<!-- famous festivals & current festivals -->
	<section id="famous_current_festivals">
		<table id="famous_current_festivals_container">
			<tr>
				<td width="59%">
					<img src="image_files/juhee_images/famousFestival.png" width="100%">
				</td>
				<td width="41%">
					<img src="image_files/juhee_images/currentFestival.png" width="100%">
				</td>
			</tr>
		</table>
	</section>
	
	<br><br>
	
	<!-- reviews -->
	<section id="reviews">
		<table id="reviews_container">
			<tr><td><span>축제 이용 후기</span></td></tr>
			<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
			<tr>
				<td width="20%">
					<img src="image_files/juhee_images/posterEx1.jpg" width="100%">
				</td>
				<td width="20%">
					<img src="image_files/juhee_images/posterEx2.jpg" width="100%">
				</td>
				<td width="20%">
					<img src="image_files/juhee_images/posterEx3.jpg" width="100%">
				</td>
				<td width="20%">
					<img src="image_files/juhee_images/posterEx4.jpg" width="100%">
				</td>
				<td width="20%">
					<img src="image_files/juhee_images/posterEx5.jpg" width="100%">
				</td>
			</tr>
			<tr>
				<td class="categ">게임 | *****5</td>
				<td class="categ">코스프레 | *****5</td>
				<td class="categ">게임 | *****5</td>
				<td class="categ">전시 | *****5</td>
				<td class="categ">공연 | *****5</td>
			</tr>
			<tr>
				<td class="desc">코로나 전에 공강 때마다 친구랑 PC방 가곤 했는데 딱 그맛임ㅋㅋ 온라인으로도 되는구나 이게...</td>
				<td class="desc">야ㅋㅋ 여기 누가 세일러문 코스프레한다ㅋㅋ 여기 진짜로 광란의 부스임... 이거 놓치면 후회한다?</td>
				<td class="desc">솔직히 Unplace 만든 사람들이 최고다... 작년에 코로나라서 학교 축제 못 한 게 가장 아쉬웠잖아.</td>
				<td class="desc">전시회라고 해서 별로 기대 안 하고 왔는데 동아리 회원들의 열정이 느껴져서 정말 좋았어요.</td>
				<td class="desc">우리 학교 댄스 동아리가 진짜 실력파인 것을 다시 한 번 상기시켜주는 공연이었음. 나는 몸치인데 대단함.</td>
			</tr>
			<tr>
				<td class="categ" style="text-align:right">이재우</td>
				<td class="categ" style="text-align:right">이승희</td>
				<td class="categ" style="text-align:right">차정현</td>
				<td class="categ" style="text-align:right">김주희</td>
				<td class="categ" style="text-align:right">배수빈</td>
			</tr>
		</table>
	</section>
	
	<br><br>
	
	<!-- direct -->
	<section id="direct">
		<div id="direct_container" style="background-image:url('image_files/juhee_images/direct.png')">
		</div>
	</section>
	
	<!-- participants -->
	<section id="participants">
		<table id="participants_container">
			<tr><td><span>이미 345대학과 함께하고 있습니다.</span></td></tr>
			<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
			<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
			<tr><td>
				<img src="image_files/juhee_images/participants.png" width="100%">
			</td></tr>
		</table>
	</section>
	
	<br><br>
	
	<!-- open festival -->
	<section id="open_festival">
		<div id="open_festival_container" style="background-image:url('image_files/juhee_images/fireWork.png')">
			<table style="padding-top:50px; margin-left:190px;">
				<tr><td><span>수많은 대학들이 만족한 서비스, 지금 바로 경험해보세요.</span></td></tr>
				<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
				<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
				<tr><td style="padding-left:270px;"><img src="image_files/juhee_images/startFestival.png" width="200px"></td></tr>
			</table>
		</div>
	</section>
	
	<!-- footer -->
	<footer>
		<section id="footer">
			<div id="footer_container">
				<br>
				<div id="footerMenu">
					<ul>
						<li><span>회사소개</span></li>
						<li><span>학교협업문의</span></li>
						<li><span>이용약관</span></li>
						<li><span>개인정보처리방침</span></li>
						<li><span>사업자확인</span></li>
					</ul>
				</div>
				<br><br>
				
				<hr style="margin-left:170px; width:70%">
				
				<br>
				<div id="footerInfo">
					<p>
					서울특별시 송파구 올림픽로 0000000 | 대표자 000
					<br>
					사업자등록번호: 000-00-00000 | 통신판매업자신고번호: 송파 제 0000호 | 전화: 0000-0000
					<br><br><br><br>

					</p>
				</div>
			</div>
		</section>
	</footer>

</body>
</html>
