<html>
    <head>
        <meta name="google-signin-client_id" content="339258164106-bgdbcnt9t5tu3h4nnabsbdf5qa5av4h8.apps.googleusercontent.com">
    <link href="stylesheets/unplace_main.css" rel="stylesheet" type="text/css"></head>
    <body>
    <div id="signlayerwrap">
        <div class="poptitle" style="margin-bottom:24px;">로그인하기</div>
    
        <div class="social_login_box">
        <p>간편하게 시작하기</p>

        <!--구글로그인-->
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <!--구글로그아웃-->
        <a href="#" onclick="signOut();">Sign out</a>

        <ul>
            <li class="naver"><a
                    href="https://nid.naver.com/oauth2.0/authorize?client_id=Y_yvRdTaDr8to3Ttpj7o&response_type=code&redirect_uri=https%3A%2F%2Fwww.loud.kr%2Ffrm_action%2Fsns_connect%2Fnaver%2Flogin&state=4485e09096d81a27318253e458330ac7&svctype=0">네이버
                    로그인</a></li>
            <li class="kakao"><a
                    href="https://kauth.kakao.com/oauth/authorize?client_id=950c014ab4b512de29ecb4f0d971cfcb&redirect_uri=https%3A%2F%2Fwww.loud.kr%2Ffrm_action%2Fsns_connect%2Fkakao&response_type=code&state=4485e09096d81a27318253e458330ac7type=login">카카오
                    로그인</a></li>
            <li class="apple"><a
                    href="https://appleid.apple.com/auth/authorize?response_type=code&response_mode=form_post&client_id=kr.loud.sign&redirect_uri=https%3A%2F%2Fwww.loud.kr%2Ffrm_action%2Fsns_connect%2Fapple%2Flogin&scope=name+email&state=4485e09096d81a27318253e458330ac7">애플
                    로그인</a></li>
            <!-- <li class="apple"><a href="http://localhost:3000/authorize?from_url=Loud&redirect_url=https://www.loud.kr/&state=b1a9f7012bbc985865b8844598b21583">스터닝 로그인</a></li> -->
        </ul>
        </div>
    </div>
    <script>
        var name, email, id, sql, con;
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            name=profile.getName()
            email=profile.getEmail()
            id=profile.getId()
            sql = `INSERT INTO 'user' ('id', 'name', 'email') VALUES ("${id}","${name}","${email}")`;
        }
    </script>
    <script src="../routes/insert_php.js"></script>


    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
        </script>
</body>
</html>