<link href="stylesheets/topbar.css" rel="stylesheet" type="text/css">
    <header>
        <nav id="navi">
            <div class="page-icon">
                <img src="image_files/바보개.jpg" height= "50px" alt="">
            </div>
            <ul class ="main-nav">
                <li><a href="">학교 축제</a></li>
                <li><a href="" target = "blank">동아리 축제</a></li>
                <li><a href="">관람</a></li>
                <li><a href="">공지사항</a></li>
                <li><a href="">가격안내</a></li>
            </ul>
            

            <ul class ="login-signup">
                <li><a href=users/auth>로그인</a></li>
                <li><a>|</a></li>
                <li><a href='<%=logurl%>'> 회원 가입</a></li>
                <li  class = "new-festival-back"><a  class = "new-festival" href="">축제 개최하기</a></li>
            </ul>
        </nav>
    </header>