@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

* {
    margin: 0;
    padding: 0;
}



a {
    font-family: "맑은 고딕", "돋움";
    text-decoration: none;
}

nav a{
    color: #000;
}

h1 {
    font-family: "맑은 고딕", "돋움";
    font-size: 1.8em;
}

h2 {
    font-family: "맑은 고딕", "돋움";
    font-size: 1.3em;
}

h3{
    font-family: "맑은 고딕", "돋움";
    font-size: 1.2em;
    color: #7D1626;
}

p {
    font-family: "맑은 고딕", "돋움";
    font-size: 1.3em;
    line-height: 2.5;
}

li {
    font-family: "맑은 고딕", "돋움";
    font-size: 1em;
    line-height: 2;
}

#container {
    width: 100%; /*화면 크기 비율 설정 */
    margin: 0 auto;
}

/* @media screen and (min-width:1200px) {
    #container {
        width: 1200px;
        margin: 0 auto;
    }

    header{
        width : 100;
    }
} */

/* 상단바 코드 */
header  {
    width: 100%;
    /* max-width: 1200px; */
    height: 80px;
    /* background: url(images/바보개.jpg) center no-repeat; */
    background-size: cover;
}

#navi {
    /* min-width: 920px; */
    background-color: #fff;
    position : fixed;
    top : 0;
    z-index:20;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 15px 10% 15px 10%;
    box-shadow: 0px 4px 4px 3px rgb(209, 208, 208);
    color: #000;
    vertical-align:middle;
}

.main-nav li {
    display: inline-block;
    color: #000;
    font-family: "맑은 고딕", 돋움;
    font-size: 1em;
    margin: 10px 10px;
}

#navi .page-icon{
    float: left;
    margin-right: 30px;
}
#navi .main-nav{
    float : left;
}

.login-signup li {
    display: inline-block;
    color: #000;
    font-family: "맑은 고딕", 돋움;
    font-size: 1em;
    margin: 10px 5px;
}

#navi .login-signup{
    float : right ;
    /* margin-right: 30px;    */
    font-size: 0.8em;
    margin-top: 3px;
}



#navi .new-festival-back{
    float : right ;
    font-size: 1.2em;    
    font-family: "맑은 고딕", 돋움;
    margin-left: 15px;
    background-color: #7BC8E6;   
    /* border-radius: 8px;   */
    box-shadow: 1px 1px 1px 1px rgb(209, 208, 208);
}

#navi .new-festival{
    margin: 5px;
    color: white;
}

/* 떠있는 버튼 */
#floating-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 150px;
    right: 5%;
    z-index:20;
}

/* 학교 광고 및 홍보  */

.univ-name{
    width: 700px;
    font-weight: bold;
    padding: 0px 0px 0px 10% ;
}

#univ-main .univ-name li{
    display: inline-block;
    color: #7D1626;
    font-family: "맑은 고딕", 돋움;
    font-size: 1.1em;
    margin: 20px 0px 0px 0px;
    vertical-align:middle;
    height:100%;
}

#univ-main .univ-fest-info li {
    display: inline-block;
    color: #fff;
    font-family: "맑은 고딕", 돋움;
    font-size: 0.9em;
    margin: 0px 10px 0px 0px;
    text-align: center
}

/* 인기 순위 */
#ranking {
    font-weight: bold;
    padding: 15px 10% 0px 10% ;
    font-size: 0.9em;
    color: #7D1626;
}

#ranking .ranks{
    display : flex;
    width: 100%;
    flex-direction: row;
}

#ranking .rank-one{
    flex: 1;
}

#ranking .rank-one ul{
    text-align: center;
}


#ranking .rank-one li{
    display :table-row;
    vertical-align: middle;
    margin : auto;
}

#ranking .rank-one img{
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    margin: 10px 10px 0px 0px;
    /* border: 3px solid #7D1626; */
    border-radius:50%;
}

#ranking .rank-one a{
    font-size: 1.1em;
}

/* 시간표 , 이벤트 */
#timetable-event .tt-ev{
    /* margin-top: 20px; */
    display: flex;
    height: 350px;
    /* background-color: coral; */
    margin: 40px 10% 20px 10% ;
}



#timetable-event .timetable{
    flex : 3;
    /* background-color: aquamarine; */
    margin: 7px;
}

#timetable-event li{
    display: inline-block;
}

#timetable-event h4{
    font-size: 0.9em;
    margin-right: 5px;
    color: #535353;
}

#timetable-event .content{
    box-sizing: border-box;
    height: 87%;
    margin: 10px 10px 10px 0px;
    border: 3px solid #7D1626;
    border-radius: 2%;
}

#timetable-event .table{
    text-align: center;
    width: 100%;
    height: 100%;
    border-spacing:0;
    /* background-color: bisque; */
    /* background: url(image_files/호랑이마크.png) center no-repeat; */
    background-size: cover;
    background-position: center;
    background-image: url( "/image_files/호랑이마크1.png" );
    background-position: center;
}

#timetable-event th{
    color: #969696;
}

#timetable-event .line1 th{
    border-bottom: 2px solid #969696;
}

#timetable-event .event-content li{
    width: 97%;
    display: inline-block;
    border-bottom: 3px solid #EFE1E3;
    margin : 3px 3px 0px 3px;
    padding : 2px
}

#timetable-event .actual-time{
    display: inline-block;
    vertical-align:middle;
    font-size: 0.9em;
    
    width: 85%;
    height: 100%;
    background-color: #EFE1E3;
    color: #000;
    text-align:center;
    line-height: 1.8;
    /* align-items: center; */
    /* margin: 10px; */
    /* padding: 10px; */
}

/* #timetable-event p{
    display: flex;
    vertical-align:middle;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
} */

#timetable-event .actual-time:hover{
    background-color : #7d1626;
    color : #fff;
}


#timetable-event .th-left{
    border-right: 2px solid #969696;
}

#timetable-event .event{
    flex : 2;
    margin: 7px;
}

#timetable-event .event-content{
    box-sizing: border-box;
    height: 87%;
    margin: 10px 10px 10px 0px;
    border: 3px solid #7D1626;
    border-radius: 2%;
    background-size: cover;
    background-image: url( "/image_files/호랑이마크2.png" );
    background-position: center;
}

/* 축제로 이동하기 */
#go-Festv {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: left;
}

#go-Festv >p{
    font-family: "맑은 고딕", "돋움";
}

#go-Festv .go-Festv-back{
    width: 100%;
    height : 100%;
    background-size: cover;
    background-image: url("/image_files/축제이동배경.png");
}

#go-Festv .to-Festv-info{
    margin: 50px 0px 0px 15% ;
    float: left;
}
#go-Festv .go-festv-btn{
    box-sizing: border-box;
    width: 120px;
    height: 45px;
    margin: 20px 10px 10px 0px;
    background-color: yellow;
    border-radius: 5px;
    text-align: center;
    color: #333333;
}

#go-Festv img{
    float: right;
    height: 180px;
    margin-right: 150px;
}

/* 후기 */
#review {
    font-weight: bold;
    padding: 30px 10% 0px 10% ;
    font-size: 0.9em;
    color: #7D1626;
}

#review .reviews{
    display : flex;
    width: 100%;
    flex-direction: row;
}

#review .review-one{
    flex: 1;
}

#review .review-one ul{
    text-align: center;
}


#review .review-one li{
    display :block;
    text-align: left;
    color: #000;
    margin-right: 10px;
    /* width: 180px; */
}


#review .image-back{
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    margin: 10px 5px 0px 0px;
    border: 4px solid #7D1626;
    /* border-radius:5%;   */
    display : table;
}

#review .img-wrap{
    display:block;
    width: 100%;
    vertical-align:middle;
    display : table-cell;
    text-align: center;
}

#review img{
    width : 80px;
    height : 0 auto;
}

/* 유튜브 링크 */
#youtube {
    display : flex;
    flex-direction: row;
    padding: 15px 10% 0px 10% ;
}

#youtube .youtube-stream{
    flex : 2 ;
}

#youtube .youtube-chatting{
    flex:1;
}

/* 하단바 */

footer{
    background-color: #272735;
    color: #fff;
}

#footerMenu > ul {
	list-style:none;
    margin:0;
    padding:0;
}

#footerMenu > ul > li {
	margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}

#footerMenu > ul > li > span {
	font-size:0.9em;
	font-family: "맑은 고딕", "돋움";
	font-weight: bold;
	margin-left:15px;
}

#footerMenu > ul > li > span:hover {
	font-size:0.9em;
	font-family: "맑은 고딕", "돋움";
	margin-left:15px;
	color:#7BC8E6;
}

#footerInfo > p {
	font-size:0.7em;
	font-family: "맑은 고딕", "돋움";
	font-weight: normal;
	margin-left:15px;
}

#footerInfo > p > span {
	color: light-grey;
}